// GENERAL
.event-infos, .event-lineup, .event-map {
  height: calc(100vh - 85px);
  padding-top: 70px;
  background: #333745;
}

// INFO PAGE
.club-name {
  color: #F89D33;
  text-align: right;
  margin: -10px 0 -18px 0;
  padding: 0 10px 0 0;
  font-weight: 600;
}
.orange-line-top {
  border-top: 2px solid #F89D33;
  margin: 0px;
}
.event-photo {
  background-size: cover;
  height: 170px;
  background-position-x: center;
  background-position-y: top;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 0;
}
.event-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: lighter;
  padding: 0 60px;
  margin-top: 20px;
  margin-bottom: 10px;
  height: 140px;
}
.event-details-info {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  // background-color: rgba(0,0,0, 0.6);
  h3 {
    font-weight: lighter;
    font-size: 20px;
    margin-top: 5px;
  }
  span {
    color: #F89D33;
    font-size: 12px;
    padding-bottom: 5px;
  }
  p {
    margin: 0;
  }
}
.event-time {
  padding-right: 10px;
  margin-left: 0px;
  width: 50%;
}
.event-price {
  padding-left: 10px;
  margin-right: 0px;
  width: 50%;
  h3 {
    padding-right: 10px;
  }
}
// LINE UP PAGE
.event-lineup {

}
.line-up-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding-left: 0;
  font-weight: lighter;
}
.line-up-artist {
  flex-grow: 1;
  flex-shrink: 2;
  list-style-type: none;
  padding-left: 0px;
  h3 {
    font-size: 18px;
    margin-top: 5px;
  }
}
.soundcloud-link {
  color: #F89D33;
}
.soundcloud-link:hover {
  color: #61D095;
}
em {
  color: #F89D33;
  font-style: normal;
  font-size: 12px;
}
.event-container {
  margin-top: 40px;
  ul {
    padding-left: 0;
  }
  span {
    color: #F89D33;
    font-size: 13px;
    padding-bottom: 5px;
  }
}
.event-description {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: lighter;
  padding: 10px 45px;
  line-height: 2rem;
  opacity: 0.8;
}

// MAP PAGE
.event-map {
  margin-bottom: 100px;
  p {
    padding: 20px;
    font-size: 17px;
  }
  span {
    color: #F89D33;
    font-size: 17px;
  }
}
.map-container {
  margin-top: 15px;
}
.get-directions {
  margin-top: 10px;
}
.non-active-event {
  display: none;
}


// PAGE ARROWS

.sidebar-arrow-left,
.sidebar-arrow-right {
  position: absolute;
  background-color: #F89D33;
  padding: 13px;
  font-size: 26px;
  top: 63px;
  font-weight: lighter;
  color: #EEEEEE;
  list-style-type: none;
}

.sidebar-arrow-left {
  left: 10px;
}
.sidebar-arrow-right {
  right: 10px;
}
.fa-arrow-left:hover {
    color: #F89D33;
    text-decoration: none;
}
.fa-arrow-right:hover {
    color: #F89D33;
    text-decoration: none;
}




 // tablet/desktop only
@media (min-width: 481px) {
  .address-padding {
    padding: 0 50px;
  }
  .event-photo {
    width: 100%;
    height: auto;
  }
}


