.event-title {
  color: #F89D33;
  padding-top: 30px;
}
.event-photo {
  width: 100%;
  padding-bottom: 40px;
}
.infos p {
  margin-bottom: 50px;
}
.line-up-list {
  list-style-type: none;
  padding-left: 0;
}
.soundcloud-link {
  color: #F89D33;
}
.soundcloud-link:hover {
  color: #61D095;
}
em {
  color: #F89D33;
  font-style: normal;
  font-size: 12px;
}
.full-lineup-link {
  color: #F89D33;
  text-decoration: none;
  font-size: 14px;
  border: 1px solid #F89D33;
  padding: 5px;
}
.full-lineup-link:hover {
  color: #61D095;
  text-decoration: none;
  border: 1px solid #61D095;
}
.event-description {
  padding-bottom: 40px;
}
.map-container {
  padding-bottom: 40px;
}
