/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.intro-copy {
  padding: 60px 0 90px 0;
}
.wrapper {
  background-color: #333745;
}

.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(Preloader_10.gif) center no-repeat #fff;
}
