<div class="footer bg-black text-center">
  <div class="footer-child hidden-xs">
    <div class="footer-logo">
      <%= link_to root_path, class: "footer-hype-brand" do %>
        <%= image_tag "hm_logo_bl.png" %>
      <% end %>
    </div>
    <div class="footer-copyright">
      <p>Copyright © 2016 Hype Me.</p>
    </div>
  </div>
  <div class="footer-child footer-links hidden-xs">
    <p>About</p>
    <p>Contact</p>
  </div>

  <div class="footer-child footer-icons">
    <li><i class="fa fa-facebook"></i></li>
    <li><i class="fa fa-instagram"></i></li>
    <li><i class="fa fa-phone"></i></li>
  </div>
</div>



