<div class="mobile-navs">
  <div class="mobile-nav">
    <%= link_to "#infos-#{index}", class: "mobile-link" do %>
      <i class="fa fa-info"></i>
      <p>Infos</p>
    <% end %>
  </div>
  <div class="mobile-nav">
    <%= link_to "#map-container-#{index}", class: "mobile-link" do %>
      <i class="fa fa-map-marker"></i>
      <p>Map</p>
    <% end %>
  </div>
  <div class="mobile-nav">
    <%= link_to "#lineup-#{index}", class: "mobile-link" do %>
      <i class="fa fa-users"></i>
      <p>Line up</p>
    <% end %>
  </div>
  <div class="mobile-nav">
    <%= link_to event.event_url, class: "mobile-link", target: "blank" do %>
      <i class="fa fa-dollar"></i>
      <p>Buy now</p>
    <% end %>
  </div>
</div>
