<%= render 'shared/navbar_white' %>
<div class="se-pre-con hidden"></div>
<div class="wrapper">
  <div class="container text-center home-container">
    <div class="row">
      <div class="col-xs-12">
        <h1 class= "intro-copy">Discover club events local to you</h1>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <%= link_to t("HYPE ME!"), events_path, id: "hype-btn" %>
        </div>
      </div>
    </div>
  </div>
</div>
