<%= render 'shared/navbar_white' %>
<div class="se-pre-con hidden"></div>
<div class="wrapper" id="home">
  <div class="container text-center home-container">
      <div class="home-content">
        <h1 class= "intro-copy">Go clubbing</h1>
        <%= link_to events_path, id: "hype-btn", class: "pulse" do %>

        <% end %>
      </div>
  </div>
</div>
