// Your footer style
.footer {
  color: #C6C5B9;
  font-size: 12px;
  font-weight: lighter;
  height: 120px;
  width: 100%;
  padding: 30px 0 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  // height: 150px;
}
.footer-wrapper {
  background: #040F0F;
}
.footer-left {
  padding: 27px 0 27px 0px;
}
.footer-logo img {
  width: 30px;
  padding-bottom: 10px;
}
.footer-copyright {
  font-size: 10px;
}
.footer-links {
  justify-content: space-between;
  p:hover{
    color: #61D095;
  }
}
.footer-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  li {
    list-style-type: none;
    padding: 68px 10px;
  }
  li:hover {
    color: #61D095;
  }
}

// mobile only
@media (max-width: 480px) {
  .footer {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0;
  }
  .footer-icons li {
    padding: 0 10px;
  }

  .footer-copyright {
  font-size: 5px;
}
}
// tablet/desktop only
@media (min-width: 481px) {
  .footer {
    padding: 20px 0 10px 0;
  }
}

