// Your footer style
.footer {
  color: #C6C5B9;
  font-size: 12px;
  font-weight: lighter;
  width: 100%;
  margin-top: 100px;
  // height: 150px;
}
.footer-wrapper {
  background: #040F0F;
}
.footer-left {
  padding: 27px 0 27px 0px;
}
.footer-logo img {
  width: 30px;
  margin-top: 20px;
  padding-bottom: 10px;
}
.footer-copyright {
  font-size: 10px;
}
.footer-links {
  padding: 40px 0 0 0;
  p:hover{
    color: #61D095;
  }
}
.footer-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  li {
    list-style-type: none;
    padding: 68px 10px;
  }
  i:hover {
    color: #61D095;
  }
}
.display-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
// mobile only
@media (max-width: 480px) {
  .footer-icons li {
    padding: 10px 10px 0 10px;
  }
  .display-footer {
    flex-direction: column-reverse;
  }
  .display-footer-child {
    padding: 30px 0;
  }
}
// tablet/desktop only
@media (min-width: 481px) {
  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .footer-icons {
    padding-top: 30px;
  }
}

