/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-black {
  background: #040F0F; // this is our Hype black colour (as in footer)
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #333745; // this is our Hype dark blue main background colour
}

// Fonts & colours
.body-font {
  color: #EEEEEE;
}
.body {
  position: relative;
}
