#hype-btn {
  display: inline-block;
  text-align: center;
  line-height: 30px;
  background-color: white;
  opacity: 0.25px;
  border-radius: 50%;
  position: relative;
  margin: 10px;
  width: 125px;
  border: 2px solid white;
  padding: 30px;
  transition: background 0.3s ease;
  letter-spacing: 3px;
  font-size: 18px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  font-size: 80px;
}
.search-button {
  background-color: none;
  border: 1px solid white;
  text-decoration: none;
}

#locat-search-btn-dropdown:active {
  text-decoration: none;
  color: white;
}

#locat-search-btn-dropdown:focus {
  text-decoration: none;
  color: white;
}
// #hype-btn:hover {
//   text-decoration: none;
//   color: white;
//   box-shadow: inset 0 0 10px #000000;
// border-radius: 20em;
// text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
// }
.show-cta-btn {
  padding: 10px 20px;
  border-radius: 20em;
  line-height: 40px;
  background-color: #61D095;
  color: white;
  font-size: 12px;
  letter-spacing: 3px;
  border: 2px solid #61D095;
}
.show-cta-btn:hover {
  color: #61D095;
  background: #333745;
  border-color: #61D095;
  text-decoration: none;
}
#next-event-button:focus {
  color: white;
  text-decoration: none;
}
#prev-event-button:focus {
  color: white;
  text-decoration: none;
}
.main-photo {
  height: 100px;
  width: 200px;
}
