#hype-btn {
  display: inline-block;
  text-align: center;
  line-height: 45px;
  color: white;
  background: #F89D33;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  border: 2px solid #F89D33;
  padding: 30px;
  transition: background 0.3s ease;
  letter-spacing: 3px;
  font-size: 18px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
#hype-btn:hover {
  text-decoration: none;
  color: white;
  box-shadow: inset 0 0 10px #000000;
  font-size: 17px;
}
// border-radius: 20em;
// text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
.show-cta-btn {
  padding: 10px 20px;
  border-radius: 20em;
  line-height: 40px;
  background-color: #61D095;
  color: white;
  font-size: 12px;
  letter-spacing: 3px;
  border: 2px solid #61D095;
}
.show-cta-btn:hover {
  color: #61D095;
  background: #333745;
  border-color: #61D095;
  text-decoration: none;
}
